<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>VueJS: Componentes</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- TODO: Cargar CSS Bootstrap (no es necesario el JS) -->
    </head>

    <body>

        <h1 id="autor">Autor: Daniela</h1>

        <!-- https://vuejs.org/v2/guide/index.html -->
        <div id="app">
            <!--
                 TODO: Aplicación VueJS. Ver archivo ./js/script.js
               - Mostrar el título de la colección dentro de un componente Jumbotron de Bootstrap https://getbootstrap.com/docs/4.0/components/jumbotron/. En su interior habrá un <h1> con id "title" que mostrará el título de la colección
               - Para cada item: (https://vuejs.org/v2/guide/index.html#Conditionals-and-Loops)
                 - Crear un componente item-data
            -->
            <div class="jumbotron">
              <h1 class="display-4" id="title">{{ col.collection.title }}</h>
            </div>
                  <div class="card-group" style="margin:0 50px;">
                      <item-data v-for="item in col.collection.items" :peli="item"></item-data>
                      <edit-form v-else :movie="item" :busca="col.collection.items.indexOf(item)"></edit-form>
                  </div>
            </div>
        </div>



        <!-- Plantilla para el componente edit-form -->
        <script type="text/x-template" id="editForm">
          <div class="card">
            <div class="card-body">
              <dl v-for="data in item.data">
                <dt>{{ data.prompt }}</dt>
                <input type="text"  v-model="dato.value" :id="dato.name + busca" style="width:90%">
                <textarea v-else v-model="data.value" :id="dato.name + busca" name="box" id="" cols="30" rows="10"></textarea>
              </dl>
              <button @click="closeForm" class="btn btn-secondary">Close</button>
            </div>
          </div>
        </script>



        <!-- Plantilla para el componente item-data -->
        <script type="text/x-template" id="itemData">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <dl  v-for="data in item.data">
                  <dt> {{ data.prompt }}</dt>
                  <dd> {{ data.value }}</dd>
                </dl>
                <a v-bind:href="movie.href" class="btn btn-primary" style="width: 75px; display:inline;">Ver</a>
                <button type="button" class="btn btn-secondary" style="width: 75px;" @click="toggleEditFormVisibility">Editar</button>
              </div>
            </div>
        </script>


        <!-- TODO: Cargar librería VueJS y archivo js/script.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> <!--Libreria de vue-->
        <script src="./js/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>

</html>
<!--
  v-on: especifica que hacer cuando se presioan el botón / se abrevia con @
  v-on:keyup.enter="" esccuha al presioanr enter
  v-bind / : -> asocia cualquier atributo HTML
-->